<div class="container">
  <br>
  <div  class="row" >
    <h4>Recent Visitor Entry</h4>
  </div>
  <div class="row" >
    <div class="column" *ngFor = "let img of images;  last as isLast" >
      <img src="../../uploads/{{img.path}}" class="hover-shadow cursor" id="headshot">
      <br>
      <p *ngIf="isLast; else normal" style="color:red"><b> Most Recent Entry</b> <br>{{img.date.visited | date:'y, MMM dd,  h:mm a'}} <br>
      <b>  Distance: </b> <br>{{img.date.distance}} 
      <!-- take distance out for production -->
      </p>
      <ng-template #normal>
          <p><b> Entry Date</b> <br>{{img.date.visited | date:'y, MMM dd,  h:mm a'}} <br> <b>Distance: </b> <br>{{img.date.distance}} </p>
          <!-- take distance out for production -->
      </ng-template>
    </div>
   
  </div>
  <div class="row">
    <h4>User Details</h4>
    <table class="table table-hover">
        <thead></thead>
        <tbody>
          <tr>
            <td>Status:</td>
            <td>    
              <span *ngIf="user.vip ; else blacklist" style="color:green">VIP</span> 
              <ng-template #blacklist>
                <span *ngIf="user.blacklist ; else normal" style="color:red">Blacklisted</span>
              </ng-template> 
              <ng-template #normal>Normal</ng-template>
            </td>
          </tr>
          <tr>
            <td>ID:</td>
            <td>{{user._id}}</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{user.first_name}}</td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td> {{user.last_name}}</td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td> {{user.gender}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td> {{user.email}}</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td> {{user.telephone}}</td>
          </tr>
          <tr>
            <td>Visited times:</td>
            <td> {{user._visits.length}}</td>
          </tr>
          <tr>
            <td>Last Visited:</td>
            <td> {{user._visits[user._visits.length - 1].visited | date:'y, MMM dd,  h:mm:ss a'}}</td>
          </tr>
          <tr>
            <td>comment:</td>
            <td>{{user.comment}}</td>
            </tr>
        </tbody>
      </table>
      <div class="col-sm-12 text-center">
          <form id="btnEdit" (submit)="editShow(user)">
              <button type="submit"  class="btn btn-secondary btn-md center-block">Edit User</button>
          </form>
          <form id="btnStatus" (submit)="statusShow(user)">
              <button type="submit" class="btn btn-secondary btn-md center-block">Add Status</button>
          </form>
      </div>
      <br>
    <div *ngIf="success" class="alert alert-success">
      {{success}}
    </div>
    <div *ngIf="fail" class="alert alert-danger">
      {{fail}}
    </div>
  </div>
  <br>
  <!-- edit form -->
  <div *ngIf="user.showEditForm">
    <form (submit)="edit(user)" id="editForm">
        <label> First Name:
         <input type="text" name="editUser.first_name" [(ngModel)]="user.first_name">
        </label>
        <label> Last Name: 
          <input type="text" name="editUser.last_name" [(ngModel)]="user.last_name">
        </label>
        <label> Gender: 
          <select name="editUser.gender" [(ngModel)]="user.gender">
            <option type="text" value="male">male</option>
            <option type="text" value="female">female</option>
            <option type="text" value="other">other</option>
          </select>
        </label>
        <label> Email: 
          <input type="text" name="editUser.email" [(ngModel)]="user.email">
        </label>
        <label> Phone: 
          <input type="text" name="editUser.telephone" [(ngModel)]="user.telephone">
        </label>
        <label> Comment: 
            <textarea rows="4" cols="50" name="editUser.comment" [(ngModel)]="user.comment"></textarea>
          </label>
    </form>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button id="btnSave" type="submit" class="btn btn-primary btn-md center-block" form="editForm">Save</button> 
            <form id="btnCancel" (submit)="cancelShow(user)">
                <button type="submit" class="btn btn-danger btn-md center-block">Cancel</button>
            </form> 
         </div>
    </div>
  </div>
  <!-- set status form -->
  <div *ngIf="user.showStatusForm">
    <h5>Set visitor as:</h5>
      <form (submit)="status(user)" id="statusForm">
          <label>
              <input type="radio" name="status" [(ngModel)]="newStatus" [value]="1">
              VIP
            </label><br/>
              <label>
              <input type="radio" name="status" [(ngModel)]="newStatus" [value]="2">
              Blacklist
            </label><br/>
            <label>
              <input type="radio" name="status" [(ngModel)]="newStatus" [value]="3">
              Normal Visitor
            </label><br/><br/>
      </form>
      <div class="row">
          <div class="col-sm-12 text-center">
              <button id="btnSave" type="submit" class="btn btn-primary btn-md center-block" form="statusForm">Save</button> 
              <form id="btnCancel" (submit)="cancelStatus(user)">
                  <button type="submit" class="btn btn-danger btn-md center-block">Cancel</button>
              </form> 
           </div>
      </div>
    </div>
</div>
