<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>


<button class="btn btn-secondary" [routerLink]="['home']"><i class="fa fa-home"></i>Home </button>
<button class="btn btn-secondary" [routerLink]="['setCustomer']">Set Customers</button>
<button class="btn btn-secondary" [routerLink]="['setCamera']">Set Cameras</button>
<button class="btn btn-secondary" [routerLink]="['frequent']">Frequent Visitors</button>
<button  class="btn btn-secondary" [routerLink]="['settings']">Settings</button>

<router-outlet></router-outlet>
