
<div class="jumbotron">
  <h2>
    Black Book
  </h2>
  <h4>
    Welcome to Black-Book, a tool by Sense in Silico, which helps you recognize important customers entering your stores.
  </h4>
</div>
<div>
  <h3>Visit Logs</h3>
  <div>
    <button *ngIf ="stopped ; else continue" type="button" class="btn btn-danger" (click)= "stop()">Stop Updates</button>
    <ng-template #continue>
      <button type="button" class="btn btn-success" (click)= "resume()">Continue Updates</button>
    </ng-template>
  </div>

  <div class="visitLogs" *ngFor= "let visit of visits">
      <b class="text-success" *ngIf="visit._visitor.vip ; else blacklist"> 
          *** VIP Visitor: ' 
          <a [routerLink]="['user-detail', visit._visitor._id]"> 
            <span *ngIf= "visit._visitor.first_name; else otherUser"> 
              {{visit._visitor.first_name}} {{visit._visitor.last_name}} 
            </span> 
            <ng-template #otherUser> 
              {{visit._visitor._id}}  
            </ng-template> 
          </a>' 
          has entered camera location: 
          <a [routerLink]="['camera-detail', visit._camera._id]"> 
              <span *ngIf= "visit._camera.location; else otherCam"> 
                  {{visit._camera.location}}
              </span> 
              <ng-template #otherCam> 
                {{visit._camera.mac_addr}}
              </ng-template> 
          </a>  
          on {{visit.visited | date:'y, MMM dd,  h:mm:ss a'}} ***
    </b>
    <ng-template #blacklist>
        <b class="text-danger" *ngIf="visit._visitor.blacklist ; else normal"> 
            ***** Blacklisted Visitor: ' 
            <a [routerLink]="['user-detail', visit._visitor._id]"> 
              <span *ngIf= "visit._visitor.first_name; else otherUser"> 
                {{visit._visitor.first_name}} {{visit._visitor.last_name}} 
              </span> 
              <ng-template #otherUser> 
                {{visit._visitor._id}}  
              </ng-template> 
            </a>' 
            has entered camera location: 
            <a [routerLink]="['camera-detail', visit._camera._id]"> 
                <span *ngIf= "visit._camera.location; else otherCam"> 
                    {{visit._camera.location}}
                </span> 
                <ng-template #otherCam> 
                  {{visit._camera.mac_addr}}
                </ng-template> 
            </a>  
            on {{visit.visited | date:'y, MMM dd,  h:mm:ss a'}} *****
      </b>
    </ng-template>
    <ng-template #normal>
      <b> 
        Visitor: ' 
        <a [routerLink]="['user-detail', visit._visitor._id]"> 
          <span *ngIf= "visit._visitor.first_name; else otherUser"> 
            {{visit._visitor.first_name}} {{visit._visitor.last_name}} 
          </span> 
          <ng-template #otherUser> 
            {{visit._visitor._id}}  
          </ng-template> 
        </a>' 
        has entered camera location: 
        <a [routerLink]="['camera-detail', visit._camera._id]"> 
            <span *ngIf= "visit._camera.location; else otherCam"> 
                {{visit._camera.location}}
            </span> 
            <ng-template #otherCam> 
              {{visit._camera.mac_addr}}
            </ng-template> 
        </a>  
        on {{visit.visited | date:'y, MMM dd,  h:mm:ss a'}} 
      </b>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>