<div class="container">
  <div class="row">
    <h3>Cameras</h3>
    <div class="table vertical-center">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">MAC Address</th>
            <th scope="col">Location</th>
            <th scope="col">Shop</th>
            <th scope="col">Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let camera of cameras">
            <td><a [routerLink]= "['/camera-detail', camera._id]">{{camera.mac_addr}}</a> </td>
            <td>
              <p *ngIf="camera.location ; else unassigned">{{camera.location}}</p>
              <ng-template #unassigned>
                <p style='color:red'>Unassigned Location</p>
              </ng-template>
            </td>
            <td>
              <p *ngIf="camera._shop; else normal">{{camera._shop.brand}} - {{camera._shop.branch}}</p>
              <ng-template #normal>
                <p style='color:red'>Unassigned Shop</p>
              </ng-template>
            </td>
            <td>
                <button [routerLink]="['/camera-detail', camera._id]" id="btnEdit" class="btn btn-primary btn-md center-block" >Edit</button>
                <button id="btnDelete" class="btn btn-danger btn-md center-block">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <router-outlet></router-outlet>