.vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    margin: 10px 0 0px -30px;
}

#btnEdit,
#btnDelete{
    width: 100px;
    margin: 2px;
}

#headshot{
    height: 150px;
    width: 150px;
    display: inline-block;
}

img.hover-shadow {
    transition: 0.3s
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }