.vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    margin: 10px 0 0px -30px;
}

#btnEdit,
#btnDelete{
    width: 100px;
    margin: 2px;
}