
<div class="container">
  <h2>Recent Visitor Information</h2>
  <div class="table vertical-center">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Picture</th>
          <th scope="col">Name</th>
          <th scope="col">Class</th>
          <th scope="col">Total Entries</th>
          <th scope="col">Recent Entered Time</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">
            <a [routerLink]="['user-detail', user._id]">
              <img src="../../uploads/{{user.faceImage[user.faceImage.length -1]}}"  class="hover-shadow cursor" id="headshot" alt="cannot find img">
            </a>
          </th>
          <td>
            <span *ngIf="user.first_name ; else other">{{user.first_name}} {{user.last_name}}</span>
            <ng-template #other>{{user._id}}</ng-template>
          </td>
          <td> 
              <b *ngIf="user.vip ; else blacklist" class="text-success">VIP</b>
              <ng-template #blacklist>
                  <b *ngIf="user.blacklist ; else normal" class="text-danger">Blacklisted</b>
              </ng-template>
              <ng-template #normal>
                  <span>Normal</span>
              </ng-template>
          </td>
          <td> {{user._visits.length}}</td>
          <td> {{user._visits[user._visits.length-1].visited | date: 'y, MMM dd,  h:mm:ss a'}}</td>
          <td>
            <button  [routerLink]="['user-detail', user._id]" id="btnEdit" class="btn btn-primary btn-md center-block" >Edit</button>
            <form (submit)="delete(user._id)">
              <button type="submit" id="btnDelete" class="btn btn-danger btn-md center-block">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>

